/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared style */
.text-primary {
  color: #fd6e0a;
}

.dark-2 {
  color: #474747;
}

.paragraph-style {
  color: #757575;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.btn-primary {
  background-color: #fd6e0a;
  color: #ffffff;
  padding: 18px 35px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.third-title {
  font-size: 35px;
  font-family: "Open Sans", sans-serif;
  color: #181818;
}

.forth-font-style {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #474747;
}
/* header */
.header {
  background-image: url(./images/developer.png), url(./images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-color: #fff8f3;
  /* max-width: 1600px; */
}

/* Nav Styles */
nav {
  display: flex;
  align-items: center; /*for vertically center*/
  justify-content: space-between;
  margin: 0 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
}

/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}

.banner-content {
  max-width: 580px;
  /* background-color: purple; */
  /* max-height: 360px; */
  /* box-sizing: border-box; */
}

.banner-gretings {
  font-size: 45px;
  font-weight: 600;
  /* background-color: red; */
  /* margin-bottom: -1vw; */
  /* padding-bottom: -5vw; */
  margin-top: 130px;
}

.banner-title {
  font-weight: bold;
  font-size: 85px;
  /* background-color: yellow; */
  margin-top: -50px;
}

.banner-description {
  /* background-color: red; */
  margin-top: -40px;
  margin-bottom: 30px;
}

.banner-profile-pic {
  width: 580px;
}

.btn-contact {
  border: 1px solid #fd6e0a;
  padding: 17px 35px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  color: #fd6e0a;
}

/* /////////////////////////////
//// support team */

.btn-primary i,
.btn-contact i {
  margin-right: 15px;
}

/* .btn-primary i {
  margin-right: 15px;
}

.btn-contact i {
  margin-right: 15px;
} */

main {
  max-width: 1140px;
  margin: 0 auto;
}

#about-us {
  /* background-color: red; */
  background-color: #fff8f3;
  /* display: flex; */
  text-align: center;
  /* max-width: 1140px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* margin: 130px auto; */
  padding: 130px 150px;
  /* margin: 0 auto; */
  /* margin: 130px 230px; */
  /* margin: 0 auto; */
  margin-top: 130px;
}

.about-us {
  /* width: 825px; */
  text-align: center;
  /* background-color: red; */
  /* margin: 0 auto; */
  /* margin: 131px 157px; */
}

.about-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding-bottom: 130px; */
}

#skills {
  /* max-width: 1140px; */
  /* margin: 0 auto; */
  /* background-color: blue; */
  /* margin: 130px auto; */
  /* padding: 0 100px; */
  text-align: center;
  margin-top: 130px;
}

.cards {
  /* background-color: red; */
  display: flex;
  text-align: left;
  margin-top: 50px;
}

.cards .card {
  /* border: 1px solid yellow; */
  margin-right: 24px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  /* box-shadow: 2vw 2vw 5vw 10vw red; */
}

.cards .card h3 {
  font-weight: bold;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.cards .card .info {
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #757575;
  line-height: 28px;
}

#resume {
  margin-top: 130px;
}

.resume h3 {
  text-align: center;
  margin-bottom: 113px;
}
.edu-ex {
  display: flex;
  gap: 20px;
  /* padding-right: 71px; */
}
.resume h4 {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: rgba(71, 71, 71, 1);
}

.resume h5 {
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: rgba(71, 71, 71, 1);
}

.resume h6 {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: rgba(117, 117, 117, 1);
}

.resume p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: rgba(117, 117, 117, 1);
  line-height: 28px;
}

.resume .first,
.second,
.third {
  /* border: 1px solid red; */
  line-height: 0px;
  /* height: 175px; */
  /* width: 511px; */
}

.resume .btn {
  text-align: center;
  margin-top: 50px;
}
